body {
  position: absolute;
  width: 1440px;
  height: 1080px;

  background: #fff;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

div {
  position: absolute;
}

img {
  width: 100%;
}

#header {
  position: absolute;
  width: 133px;
  height: 25px;
  top: 40px;
  left: 77px;

  font-family: Inconsolata;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

.left-box {
  position: absolute;
  left: 5.35%;
  right: 57.21%;
  top: 24.54%;
  bottom: 34.03%;
}

#title {
  position: absolute;
  width: 586px;
  height: 190px;
  left: 735px;
  top: 265px;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;

  color: #333;
}

#text {
  position: absolute;
  width: 381px;
  height: 108px;
  left: 736px;
  top: 491px;

  margin-top: 36px;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;

  color: #4f4f4f;
}

#button-div {
  position: absolute;
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;

  margin-top: 64px;
}

#button {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  letter-spacing: -0.035em;
  text-transform: uppercase;

  background-color: #333;
  color: #fff;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#p-footer {
  position: absolute;
  width: 287px;
  height: 17px;
  left: 577px;
  top: 1039px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #bdbdbd;
}

#p-footer a {
  font-weight: 700;
}
